[submodule "MySQLTuner-perl"]
	branch = master
	path = MySQLTuner-perl
	url = https://github.com/major/MySQLTuner-perl
[submodule "parsyncfp"]
	branch = master
	path = parsyncfp
	url = https://github.com/hjmangalam/parsyncfp.git
