[submodule "clustergit"]
	path = clustergit
	url = https://github.com/mnagel/clustergit
[submodule "MySQLTuner-perl"]
	path = MySQLTuner-perl
	url = https://github.com/major/MySQLTuner-perl
[submodule "parsyncfp"]
	path = parsyncfp
	url = https://github.com/hjmangalam/parsyncfp.git
