[submodule "MySQLTuner-perl"]
	branch = master
	path = MySQLTuner-perl
	url = https://github.com/major/MySQLTuner-perl
[submodule "parsyncfp"]
	branch = master
	path = parsyncfp
	url = https://github.com/hjmangalam/parsyncfp.git
[submodule "clustergit"]
	path = clustergit
	url = https://github.com/mnagel/clustergit.git
	branch = master
[submodule "AutoMySQLBackup"]
	path = AutoMySQLBackup
	url = https://github.com/sixhop/AutoMySQLBackup.git
